In [2]:
import pandas as pd
df = pd.read_feather("../data/merged_factors.ft")
df

,rk,code,cfo2cl,dta2ev,NNP_SD,ocfa4q,r_nta,roic4q,yoy_s
2,1945.0,000004,-0.539357,-0.100045,-0.001195,-0.545248,-0.373964,-1.711607,0.285189
3,1945.0,000005,-1.196494,-0.350442,-0.242075,-1.903597,-1.304091,-1.842590,0.416450
4,1945.0,000006,-1.569546,1.343961,2.317304,-1.987871,1.056031,0.439823,-2.245958
5,1945.0,000007,1.276299,-0.499103,-0.501018,2.723414,-1.013969,-1.625001,0.792931
7,1945.0,000009,-0.348548,-0.270275,0.043598,-0.184773,-0.233879,-0.161768,-0.313591
...,...,...,...,...,...,...,...,...,...
9853255,4477.0,688793,-0.855737,-2.272339,-0.464821,-1.076195,-0.982083,-1.067425,-1.258614
9853256,4477.0,688798,0.685225,0.113780,0.200084,0.350019,-0.022114,0.117699,-0.778150
9853257,4477.0,688799,0.678994,-0.233143,-1.587911,0.085114,0.300693,0.106962,-0.537688
9853258,4477.0,688800,-0.261622,0.404579,1.854591,-0.065149,0.876517,0.327391,1.797810
9853259,4477.0,688819,-0.157889,2.511428,-0.915142,0.350509,0.511436,0.053357,0.076454

In [ ]:
# Small Model for Testing